.blog-area {
    padding: 120px 0;
    .blog-title-content {
      padding-bottom: 50px;
    }
  
    .blog-card {
      background: var(--color-white);
      padding-bottom: 150px;
      padding-right: 10px;

      &:nth-child(3) {
        padding-right: 0;
      }
      
      .blog-card-img {
        position: relative;
        overflow: hidden;
  
        img {
          -webkit-border-radius: 20px;
          -webkit-border-top-right-radius: 50px;
          -webkit-border-bottom-left-radius: 0px;
          -moz-border-radius: 20px;
          -moz-border-radius-topright: 50px;
          -moz-border-radius-bottomleft: 0px;
          border-radius: 20px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 0px;
        }
  
        .blog-img-overlay {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgb(51,51,51);
          background: linear-gradient(180deg, rgba(51,51,51,0.1) 60%, rgb(14, 13, 13) 100%);
          -webkit-border-radius: 20px;
          -webkit-border-top-right-radius: 50px;
          -webkit-border-bottom-left-radius: 0px;
          -moz-border-radius: 20px;
          -moz-border-radius-topright: 50px;
          -moz-border-radius-bottomleft: 0px;
          border-radius: 20px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 0px;
        }
  
        .blog-card-img-title {
          position: absolute;
          left: 30px;
          top: 30px;
          background: var(--color-primary);
          padding: 3px 20px;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
  
          span {
            font-size: var(--font-size-b2);
            font-family: var(--font-secondary);
            font-weight: var(--p-semi-bold);
            color: var(--color-white);
            text-transform: capitalize;
          }
        }
        #blog-card-img-title-2 {
          background: var(--color-warning);
        }
        #blog-card-img-title-3 {
          background: var(--color-info);
        }
        
      }
  
      .card {
        max-width: 38rem;
        background: var(--color-white);
        margin-top: -50px;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 40px;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 40px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 40px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 40px;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.07);
  
        .card-body {
          padding: 30px 55px 0 35px;
  
          .card-sub-title {
            gap: 7px;
            padding-bottom: 7px;
            
            a {
              span {
                font-size: var(--font-size-b2);
                font-weight: var(--p-medium);
                font-family: var(--font-secondary);
                color: var(--color-extra07);
                text-transform: capitalize;
              }
            }
          }
  
          .card-title {
            font-size: 26px;
            color: var(--color-dark);
            line-height: var(--line-height-b4);
            margin-bottom: 0;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            cursor: pointer;
  
            &:hover {
              color: var(--color-primary);
            }
          }
          .box-container {
            display: flex;
            gap: 20px;
            padding: 13px 0 20px 0;
            .box {
              .card-date{
                color: var(--color-extra07);
                font-size: var(--font-size-b2);
                font-weight: var(--p-medium);
                font-family: var(--font-secondary);
              }
              .comments{
                color: var(--color-extra07);
                font-size: var(--font-size-b2);
                font-weight: var(--p-medium);
                font-family: var(--font-secondary);
              }
            }
          }
          .card-text {
            padding-bottom: 5px;
          }
  
          .card-wrap-btn {
            font-size: var(--font-size-b2);
            color: var(--color-dark);
            text-transform: uppercase;
            font-weight: var(--p-bold);
            background: none;
            margin-bottom: 40px;
            padding: 0;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
  
            span {
              opacity: 0;
              font-size: 15px;
              padding-left: 0;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -ms-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
            }
  
            &:hover {
              color: var(--color-primary);
              letter-spacing: 1px;
              span {
                opacity: 1;
                padding-left: 5px;
              }
            }
          }
        }
      }
      #blog-last-card {
        margin-top: -25px;
      }
  
    }
  }
  .blog-area-two {
    position: relative;
    padding: 80px 0;

    .blog-card {
      padding-bottom: 0;
    .blog-card-img-last {
      img {
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 40px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 40px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .h2-blog-card {
      max-width: 100% !important;
      .card-body {
        padding: 30px 32px 0 32px;
        .card-sub-title {
          margin-bottom: 7px;
        }
        .card-title {
          margin-bottom: 10px;
        }
        .box-container {
          position: relative;
          width: 100%;
          gap: 0;
          justify-content: space-between;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            background: #e5e5e5;
          }

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 30%;
            height: 20px;
            width: 1px;
            background: #e5e5e5;
          }
        }
      }
    }
    #blog-last-card {
      margin-top: -30px;
    }
  }
  .blog-shape-bottom {
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 660px;
    height: 550px;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
  
  @media (max-width:1024px) {
    .blog-area {
      padding: 0;
  
      .blog-card {
       padding-bottom: 50px;
  
        .card {
          max-width: 28rem;
  
          .card-body {
            padding: 20px 20px 0px 17px;
  
            .card-sub-title {
              a {
                span {
                  font-size: var(--font-size-b3);
                }
              }
            }
            .card-title {
              font-size: 22px;
            }
            .box-container {
              gap: 35px;

              .box {
                .card-date {
                  font-size: var(--font-size-b3);
                }
                .comments {
                  font-size: var(--font-size-b3);
                }
              }
            }
  
            .card-text {
              font-size: 15px;
            }
          }
        }
      }
      .blog-card-03 {
        padding-bottom: 220px;
      }
    }
  }
  
  @media  (max-width:768px){
    .blog-area {
      padding-top: 50px;
      padding-bottom: 50px;
      .blog-card {
        .card {
          max-width: 29rem;

          .card-body {
            padding: 25px 25px 0px 25px;
  
            .card-sub-title {
              a {
                font-size: 16px;
              }
            }
            .card-text {
              font-size: 16px;
            }
          }
        }
      }
      .blog-card-03 {
        padding-bottom: 150px;
      }
    }
  }
  @media (max-width:450px) {
    .blog-area {
      padding-top: 0;
      .blog-title-content {
        padding-bottom: 0;
      }
      .blog-card {
        padding-right: 0;
        .card {
          max-width: 33rem;
        }
      }
    }
  }
  @media (max-width:320px) {
    .blog-area {
      margin-top: -30px;
      .blog-card {
        .card {
          width: 25rem;

          .card-body {
            padding: 20px 12px 0 20px;
  
            .card-sub-title {
              a {
                span {
                  font-size: 14px;
                }
              }
            }
  
            .box-container {
              padding: 13px 0 15px 0;
              gap: 10px;
            }
            .card-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }