//brand area
.brand-two {
    background: url(../../assets/images/h2-brand-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .brand-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 100px 0;
        text-align: center;
        margin-bottom: 0;

        @media (max-width:991px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:450px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            
        }
    }
}
.brand-three {
    background: url(../../assets/images/h3-brand-bg.jpg);
}