.campaign-bg {
    background: url(../images/campaign-bg.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  
    .campaign {
      position: relative;
      padding-bottom: 120px;
    
      .item {
        padding: 15px 15px;
        .card {
          -webkit-border-radius: 20px;
          -webkit-border-top-right-radius: 50px;
          -webkit-border-bottom-left-radius: 50px;
          -moz-border-radius: 20px;
          -moz-border-radius-topright: 50px;
          -moz-border-radius-bottomleft: 50px;
          border-radius: 20px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 50px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
          
          .card-body {
            padding: 45px 45px 35px 45px;
            .campaign-left-content {
              padding: 40px 100px 40px 0;
    
              .card-sub-title {
                font-size: var(--font-size-b3);
                color: var(--color-white);
                font-family: var(--font-secondary);
                font-weight: var(--p-semi-bold);
                text-transform: uppercase;
                display: inline-block;
                background: #ffa940;
                line-height: 2.143;
                padding: 0 15px;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
              }
    
              .card-title {
                margin: 20px 0;
                font-size: 36px;
                font-weight: var(--p-bold);
                line-height: var(--h2-lineHeight);
              }
    
              .campaign-content-btn {
                margin-top: 30px;
    
                .campaign-wrap-btn {
                  padding: 15px 40px;
                  box-shadow: 0px 15px 40px 0px rgba(192, 36, 33, 0.25);
                }
              }
            }
            
            .campaign-right-thumb {
              position: relative;
              height: 100%;
              
              img {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-border-radius: 20px;
                -webkit-border-top-right-radius: 50px;
                -webkit-border-bottom-left-radius: 50px;
                -moz-border-radius: 20px;
                -moz-border-radius-topright: 50px;
                -moz-border-radius-bottomleft: 50px;
                border-radius: 20px;
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
              }
    
              .box-counter {
                width: 150px;
                padding: 25px 30px;
                background: var(--color-white);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                position: absolute;
                top: 13%;
                left: -75px;
                z-index: 1234;

                ul {
                  margin-bottom: 0;

                  li {
                    margin: 20px 0 15px 0;
                  }
                }
    
                .text {
                  font-size: 16px;
                  font-weight: var(--p-bold);
                  font-family: var(--font-secondary);
                  color: var(--color-dark);
                  text-transform: capitalize;
                }
                .number {
                  font-size: 15px;
                 
                  color: rgb(167, 165, 165);

                  span {
                    font-size: 15px;
                    line-height: var(--line-height-b1);
                    font-family: var(--font-secondary);
                    font-weight: var(--p-semi-bold);
                  }
                }
                .block {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 120px;
                  height: 120px;
                  border-radius: 50%;
                  margin-left: -16px;
                  margin-top: -10px;
                  margin-bottom: -8px;
                }
                
                .box {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  width: calc(100% - 38px);
                  height: calc(100% - 38px);
                  border-radius: 50%;
                  border: 2px solid #e9e9e9;
                }
                
                .box {
                  .number {
                    .num {
                      font-size: 24px;
                      font-weight: var(--p-bold);
                      font-family: var(--font-primary);
                      color: var(--color-dark);
                    }
                    .sub {
                      font-size: 24px;
                      font-weight: var(--p-bold);
                      font-family: var(--font-primary);
                      color: var(--color-dark); 
                    }
                  }
                }
                
                .dots {
                  display: block;
                  position: absolute;
                  z-index: 2;
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  transition: 2s transform, 2s opacity ease;
                }
                
                .dots::after {
                  position: absolute;
                  content: '';
                  width: 7px;
                  height: 7px;
                  top: 12px;
                  left: 50%;
                  background-color: #ff0000;
                  border-radius: 50%;
                  transform: translateX(-50%);
                  -webkit-transform: translateX(-50%);
                  -moz-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  -o-transform: translateX(-50%);
                }
                
                .svg {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: -5px;
                  left: 5px;
                  fill: none;
                  transform: rotate(-90deg);
                  -webkit-transform: rotate(-90deg);
                  -moz-transform: rotate(-90deg);
                  -ms-transform: rotate(-90deg);
                  -o-transform: rotate(-90deg);
                }
                
                .circle {
                  stroke: url(#gradientStyle);
                  stroke-width: 2px;
                  stroke-dasharray: 283;
                  stroke-dashoffset: 283;
                  animation-duration: 2s;
                  animation-timing-function: linear;
                  animation-fill-mode: forwards;
                  transition: 2s stroke-dashoffset;
                }
              }  
            }
          }
        }
      }
    }
    .campaign-col {
      position: relative;

      .campaign-owl-nav  {
        position: absolute;
        top: 50%;
        right: 90px;
        z-index: 1;
    
        span {
          font-size: 18px;
          background:var(--color-white);
          padding: 20px 18px;
          // margin: 0 10px;
          margin-left: 10px;
          cursor: pointer;
          -webkit-border-radius: 10px;
          -webkit-border-top-right-radius: 20px;
          -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius: 10px;
          -moz-border-radius-topright: 20px;
          -moz-border-radius-bottomleft: 20px;
          border-radius: 10px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
    
          &:hover {
            background: var(--color-primary);
            color: var(--color-white);
            box-shadow: none;
          }
        }
        @media (max-width:1023px) {
          display: none !important;
        }
      }
    }
  }
  @media (max-width:1024px) {
    .campaign-bg {
      .campaign {
        .item {
          .card {
            .card-body {
              .campaign-left-content {
                padding: 28px 100px 40px 0;
              }
              .campaign-right-thumb {
                img {
                  min-height: 500px;
                  object-fit: cover;
                }
                .box-counter {
                  top: 30%;
                }
              }
            }
          }
        }
        .campaign-owl-nav {
          right: 12%;
        }
      }
    } 
  }
  @media (max-width:768px) {
    .campaign-bg {
  
      .campaign {
        padding-bottom: 0px;
        .item {
          padding: 5px;
          .card{
            .card-body{
              padding: 30px 30px;
              .campaign-left-content{
                padding: 32px 25px 32px 0;
  
                .card-title {
                  font-size: 30px;
                  margin: 10px 0px 20px 0;
                }
              }
              .campaign-right-thumb {
                margin-left: 26px;
          
                .box-counter {
                  padding: 15px 25px;
                  top: 20%;
                  left: -40px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width:450px) {
    .campaign-bg {
      .campaign {
        .item{
          .card {
            .card-body {
              .campaign-left-content {
                padding: 32px 0;
              }
              .campaign-content-btn {
                .campaign-wrap-btn {
                  padding: 15px 32px !important;
                }
              }
            }
          }
        }
      }
    }
  }