.fundraising {
    padding-bottom: 150px;
  
    .fundraising-title-content {
      padding-bottom: 50px;
  
      .heading {
        padding: 0 300px;
      }
    }
  
    .card {
      -webkit-border-radius: 20px;
      -webkit-border-top-right-radius: 50px;
      -webkit-border-bottom-left-radius: 50px;
      -moz-border-radius: 20px;
      -moz-border-radius-topright: 50px;
      -moz-border-radius-bottomleft: 50px;
      border-radius: 20px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.07);
  
      .card-body {
        padding: 30px 30px;
  
        .card-thumb {
          position: relative;
          overflow: hidden;
  
          img {
            width: 100%;
            height: 100%;
            -webkit-border-radius:10px;
            -webkit-border-top-right-radius: 30px;
            -webkit-border-bottom-left-radius: 30px;
            -moz-border-radius:10px;
            -moz-border-radius-topright: 30px;
            -moz-border-radius-bottomleft: 30px;
            border-radius:10px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            -ms-border-radius:10px;
            -o-border-radius:10px;
          }
          .card-img-overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgb(51,51,51);
            background: linear-gradient(180deg, rgba(51,51,51,0.1) 60%, rgb(14, 13, 13) 100%);
            -webkit-border-radius: 10px;
            -webkit-border-top-right-radius: 30px;
            -webkit-border-bottom-left-radius: 30px;
            -moz-border-radius: 10px;
            -moz-border-radius-topright: 30px;
            -moz-border-radius-bottomleft: 30px;
            border-radius: 10px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }
  
          .card-thumb-title {
            position: absolute;
            left: 5%;
            top: 7%;
            background: var(--color-tertiary);
            padding: 3px 16px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
  
            span {
              font-size: var(--font-size-b3);
              font-family: var(--font-secondary);
              font-weight: var(--p-semi-bold);
              color: var(--color-white);
              text-transform: uppercase;
            }
          }
        }
        .card-counter {
          max-width: 295px;
          padding: 15px 10px;
          background: var(--color-white);
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          position: relative;
          z-index: 1;
          margin: -50px  auto 0 auto;

          @media (min-width:1200px) and (max-width:1400px) {
            max-width: 260px !important;
          }
          .card-container {
            padding: 0 10px;

            @media (min-width:1025px) and (max-width:1199px) {
              padding: 0;

              .circle {
                margin-left: -16px;
              }
            }

          }
  
          .text {
            font-size: 16px;
            font-weight: var(--p-bold);
            font-family: var(--font-secondary);
            color: var(--color-dark);
            text-transform: capitalize;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 0px;
          }
          .number {
            font-size: 15px;    
            color: rgb(167, 165, 165);
            text-align: center;

            span {
              font-size: 15px;
              line-height: var(--line-height-b1);
              font-family: var(--font-secondary);
              font-weight: var(--p-semi-bold);
            }
          }
           
          .circle {
            position: relative;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            cursor: default;
            margin-left: -10px;

            .box {
              position: absolute;
              left: 50%;
              top: 50%;
              height: 80px;
              width: 80px;
              background: transparent;
              border-radius: 50%;
              border: 2px solid #e8e8e8;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);

              span {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 24px;
                font-family: var(--font-primary);
                font-weight: var(--p-bold);
                color: var(--color-dark);
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
              }
            }
          }
        }
  
        .card-title {
          font-size: 26px;
          font-weight: bold;
          line-height: 1.308;
          margin-bottom: 5px;
        }
  
        .card-text {
          margin-bottom: 20px;
        }
  
        .fundraiseing-content-btn {
          margin-bottom: 4px;
  
          .fundraiseing-wrap-btn {
            padding: 15px 40px;
            color: var(--color-dark);
            
            
            &::after {
              background: #fff !important;
              border: 1px solid #e5e5e5;
            }


  
            &:hover {
              color: var(--color-white) !important;
              box-shadow: 0px 15px 40px 0px rgba(192, 36, 33, 0.25);
            }
          }
        }
      }
    }
  }
  .fundraising-two {
    background: #f6f4f1;
    padding-top: 120px;

    .card-two {
      -webkit-border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 50px;
      -webkit-border-bottom-right-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-topright: 50px;
      -moz-border-radius-bottomright: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      .card-body {
        .card-thumb {
          .card-thumb-title-2 {
            left: 4%;
            top: 6%;
            background: var(--color-success);
          }
        }
        .card-title {
          padding: 25px 0 10px 0;
        }
      }
    }
    .card-bottom {
      margin-top: 10px;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 20px;
      -webkit-border-bottom-left-radius: 50px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 20px;
      -moz-border-radius-bottomleft: 50px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 50px;

      .card-body {
       
        .single-progressbar {
          margin-bottom: 30px;
          position: relative;
  
          .progress-title {
            font-size: 22px;
            text-transform: capitalize;
          }
          .progressbar {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 25px;
            position: relative;
            
          }
          .proggress {
            height: 15px;
            width: 10px;
            background: #ed312d;
            background: -webkit-linear-gradient(to right, #ed312d 0%, #f79a29 100%);
            background: linear-gradient(to right, #ed312d 0%, #f79a29 100%);
            position: relative;
            z-index: 1;
            overflow: visible !important;

            // &::before {
            //   content: "";
            //   position: absolute;
            //   top: -10px;
            //   right: 0;
            //   width: 28px;
            //   height: 28px;
            //   border: double 8px transparent;
            //   border-radius: 50%;
            //   background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ed312d,#f79a29);
            //   background-origin: border-box;
            //   background-clip: content-box, border-box;
            //   display: inline-block;
            //   box-shadow: 0px 5px 20px 0px rgba(192, 36, 33, 0.3);
            // }
            .indicator {
              position: absolute;
              right: 0;
              top: -10px;
              width: 28px;
              height: 28px;
              border: double 8px transparent;
              border-radius: 50%;
              background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ed312d,#f79a29);
              background-origin: border-box;
              background-clip: content-box, border-box;
              display: inline-block;
              box-shadow: 0px 5px 20px 0px rgba(192, 36, 33, 0.3);
              overflow: visible !important;
              z-index: 9999;
            }
          }
          .percentCount {
            clear: both;
            font-size: 22px;
            font-family: var(--font-primary);
            font-weight: var(--p-semi-bold);
            color: #111117;
            position: absolute;
            left: 46%;
            bottom: -80px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }

        .box-wrapper {
          display: flex;
          justify-content: space-between;
          .box-wrap {
            .text {
              font-size: var(--font-size-b1);
              text-transform: capitalize;

              i {
                font-size: var(--font-size-b3);
                color: var(--color-extra07);
              }
            }
          }
        }
      }
    }
    @media (max-width:768px) {
      padding-top: 50px;

      .card-two {
        margin-bottom: 0 !important;

        .card-bottom {
          .card-body {
            padding: 20px 20px !important;
          }
        }
      }
    }
  }
  @media (max-width:1024px) {
    .fundraising {
      .fundraising-title-content {
        .heading {
          padding: 0 70px;
        }
      }    
      .card {
        margin-right: 0;
        .card-body {
          .card-thumb {
            .card-thumb-title {
              padding: 3px 12px;
              span {
                font-size: 15px;
              }
            }
          }

          .card-counter {
            padding: 10px 0;

            
            .text {
              font-size: 14px;
              margin-top: 14px;
            }
            .number {
              font-size: 11px;
            }
            .circle {
              margin-left: -16px;
            }
          }
        }
      }
    }
  }
  @media (max-width:768px) {
    .fundraising {
      padding-bottom: 60px;
      .fundraising-title-content {
        padding-bottom: 20px;
        .heading {
          padding: 0 72px;
        }
      }
      .card {
        margin-bottom: 35px;
  
        .card-body{
          // padding: 30px 20px 10px 20px;
          .card-counter {
            padding: 10px 0;
  
            .text {
              font-size: 15px;
            }
  
            .progress {
              margin: 0 auto 0 -8px;
            }
            
          }
          .card-title {
            font-size: 22px;
          }
          
        }
      }
    }
  }
  
  @media (max-width:450px) {
    .fundraising {
      padding-bottom: 60px;
      .fundraising-title-content {
        .heading {
          padding: 0 72px;
        }
      }
      .card {
        margin-bottom: 35px;
  
        .card-body{
          // padding: 30px 20px 0 20px;
          .card-counter {
            width: 235px;
            padding: 10px 0;
  
            .text {
              font-size: 15px;
            }
  
            .progress {
              margin: 0 auto 0 -8px;
            }
            
          }
          .card-title {
            font-size: 22px;
          }
          .fundraiseing-content-btn {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  @media (max-width:320px) {
    .fundraising {
      .fundraising-title-content {
        .heading {
          padding: 0;
        }
      }
      .card {
        margin-bottom: 20px;
        .card-body {
          padding: 20px 15px 20px 15px;
          .card-counter {
            margin: -40px auto 0 auto;
  
            .text {
              font-size: 14px;
            }
          }
          .fundraiseing-content-btn {
            margin-bottom: 10px;
          }
        }
      }
    }
  }