//service two

.service-two {
  background: url(../../assets/images/h2-service-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  .service-title {
      margin-bottom: 50px;
  }
  
  .card {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.1);
    transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
  
    .card-body {
      padding: 60px 30px;

      .icon-01,
      .icon-02,
      .icon-03,
      .icon-04{
          display: inline-block;
            padding: 25px 25px;
            -webkit-border-radius: 20px;
            -webkit-border-top-right-radius: 40px;
            -webkit-border-bottom-left-radius: 40px;
            -moz-border-radius: 20px;
            -moz-border-radius-topright: 40px;
            -moz-border-radius-bottomleft: 40px;
            border-radius: 20px;
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;

            span {
              font-size: 50px;
            }
      }
        .icon-01 {
            background: rgba(237, 49, 45, .1);
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;

            span {
                color: var(--color-primary);
            }
        }
        .icon-02 {
            background: rgba(0, 189, 192, .1);
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;

            span {
                font-size: 50px;
                color: var(--color-success);
            }
        }
        .icon-03 { 
            background: rgba(255, 169, 64, .1);
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;

            span {
                color: var(--color-warning);
            }
        }
        .icon-04 {
            background: rgba(170, 65, 191, .1);
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            
            span {
                color: var(--color-info);
            }
        }

        .card-title {
        font-size: 26px;
        font-weight: bold;
        color: var(--color-dark);
        margin-top: 30px;
        margin-bottom: 15px;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
      }
      .card-text {
        transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      }
    }
    &:hover {
      .card-title {
        color: var(--color-white);
      }
      .card-text {
        color: var(--color-white);
      }  
    }
  }
  .card-primary {
    &:hover {
      box-shadow: 0px 30px 70px 0px rgba(237, 49, 45, 0.25);
      background: var(--color-primary);

      .card-body {
        .icon-01 {
          background: var(--color-white);
        }
      }
    }
  }
  .card-success {
    &:hover {
      box-shadow: 0px 30px 70px 0px rgba(0, 189, 192, 0.25);
      background: var(--color-success);

      .card-body {
        .icon-02 {
          background: var(--color-white);
        }
      }
    }
  }
  .card-warning {
    &:hover {
      box-shadow: 0px 30px 70px 0px rgba(255, 169, 64, 0.25);
      background: var(--color-warning);

      .card-body {
        .icon-03 {
          background: var(--color-white);
        }
      }
    }
  }
  .card-purple {

    &:hover {
      box-shadow: 0px 30px 70px 0px rgba(170, 65, 191, 0.25);
      background: var(--color-info);

      .card-body {
        .icon-04 {
          background: var(--color-white);
        }
      }
    }
  }

  .service-btn-wrapper {
    text-align: center;
    margin-top: 60px;
  }
}
    @media (max-width:1024px) {
      .support {
    
        .card {
          width: 100%;
          margin-bottom: 30px;
    
          .card-body {
            padding: 40px 20px;
    
            .icon-01,
            .icon-02,
            .icon-03,
            .icon-04 {
              padding: 20px 20px;
              -webkit-border-radius: 10px;
              -webkit-border-top-right-radius: 20px;
              -webkit-border-bottom-left-radius: 20px;
              -moz-border-radius: 10px;
              -moz-border-radius-topright: 20px;
              -moz-border-radius-bottomleft: 20px;
              border-radius: 10px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 20px;
            }
    
            .card-title {
              font-size: 22px;
            }
    
            .card-text {
              font-size: 15px;
            }
          }
        }
      }
    }
    
    @media (max-width:768px) {
      .support {
        padding-top: 50px;
    
        .support-title {
          margin-bottom: 30px;
        }
    
        .card {
          
          .card-body {
            padding: 40px 20px;
    
            .card-title {
              font-size: 22px !important;
            }
    
            .card-text {
              font-size: 14px;
            }
          }
        }
      }
    }
