.team-faq-bg {
    background: url(../images/team-bg.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 100px;
  }
  .team {
  
    .team-title-content {
  
      .sub-heading {
        margin-bottom: 15px;
      }
  
      .heading {
        max-width: 500px;
        margin: 0 auto;
        padding-bottom: 60px;
      }
    }
  
    .team-card {
  
  
      .team-card-img {
        position: relative;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        z-index: 1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
  
        img {
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
  
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          opacity: 0;
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
        }
  
        .icon-link {
          margin-top: -30px;

          span {
            font-size: var(--font-size-b2);
            color: var(--color-dark);
            background: var(--color-white);
            display: inline-block;
            padding: 20px 20px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            position: relative;
            z-index: 12;
          }
  
          .team-social-icon {
            position: absolute;
            left: 22%;
            top: 50%;
            transform: translateY(70px);
            -webkit-transform: translateY(70px);
            -moz-transform: translateY(70px);
            -ms-transform: translateY(70px);
            -o-transform: translateY(70px);
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            text-align: center;
            visibility: hidden;
            opacity: 0;

            a{
              font-size: 15px;
              color: var(--color-dark);
              background: var(--color-white);
              padding: 12px 13px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              
              transition: all .3s ease-in-out;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              
              &:hover {
                color: var(--color-white);
                background: var(--color-primary);
              }
            }
          }
  
          &:hover {
  
            span {
              background: var(--color-primary);
              color: var(--color-white);
              box-shadow: 0px 15px 40px 0px rgba(192, 36, 33, 0.25);
            }
    
            .team-social-icon {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
              -webkit-transform: translateY(0);
              -moz-transform: translateY(0);
              -ms-transform: translateY(0);
              -o-transform: translateY(0);
            }
          }
        }
      }
  
      &:hover {
  
        .team-card-img {
  
          &::before {
            opacity: 1;
          }
        }
      }
      .card {
        background: none;

        .card-body {
          background: var(--color-white);
          border-top-left-radius: 20px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 20px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
          margin-top: -100px;
          margin-bottom: 20px;
  
          .card-title {
            font-size: 26px;
            font-family: var(-font-primary);
            font-weight: var(--p-bold);
            color: var(--color-dark);
            display: inline-block;
            padding-top: 135px;
            margin-bottom: 3px;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
  
            &:hover {
              color: var(--color-primary);
            }
          }
  
          .card-sub-title {
            font-size: var(--font-size-b2);
            color: var(--color-extra07);
            display: block;
          }
  
          .card-text {
            padding: 20px 30px;
          }
        }
      }
    }
    .owl-nav {
      margin-top: 60px;
      .owl-prev,
      .owl-next {
          
        span {
          font-size: var(--font-size-b1);
          background: var(--color-white);
          color: var(--color-dark);
          padding: 20px 18px;
          text-align: center;
          -webkit-border-radius: 10px;
          -webkit-border-top-right-radius: 20px;
          -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius: 10px;
          -moz-border-radius-top-right: 20px;
          -moz-border-radius-bottom-left: 20px;
          border-radius: 10px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
        }
  
        &:hover {
  
          span {
            color: var(--color-white);
            background: var(--color-primary);
            box-shadow: none;
          }
        }
      }
    }
  }
  @media (max-width:1024px) {
    .team {
      .team-title-content {
        .heading {
          max-width: 400px;
          padding-bottom: 30px;
        }
      }
      .team-card {
        .team-card-img {
          width: 200px;
          height: 200px;
        }
  
        .card {
  
          .card-body {
            .card-text {
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
  @media (max-width:767px) {
    .team {
  
      .team-title-content {
        
        .heading {
          max-width: 300px;
        }
      }
      .team-card {
  
        .card {
  
          .card-body {
            .card-title {
              font-size: 22px;
            }
          }
        }
      }
  
      .owl-nav {
        display: none;
      }
    }
  }