.testimonials {
    background: url(../images/testimonials-bg.jpg);
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .testimonials-content {
  
      .testimonials-swiper-nav  {
        margin-top: 40px;
        span {
          font-size: var(--font-size-b1);
          background:var(--color-white);
          padding: 20px 18px;
          margin: 0 5px;
          cursor: pointer;
          -webkit-border-radius: 10px;
          -webkit-border-top-right-radius: 20px;
          -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius: 10px;
          -moz-border-radius-topright: 20px;
          -moz-border-radius-bottomleft: 20px;
          border-radius: 10px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          box-shadow: 0px 5px 10px 0px rgba(26, 46, 85, 0.1);
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
    
          &:hover {
            background: var(--color-primary);
            color: var(--color-white);
            box-shadow: none;
          } 
        }
      }
    }
  
    .testimonials-slider {
  
      .testimonial-slider-content {
        max-width: 450px;
        margin-top: 60px;
        padding: 0 15px;
        position: relative;
  
        .testimonial-para {
          font-size: 18px;
          color: var(--color-dark);
          background: var(--color-white);
          padding: 70px 10px 25px 30px;
          -webkit-border-radius: 20px;
          -webkit-border-top-right-radius: 50px;
          -webkit-border-bottom-left-radius: 50px;
          -moz-border-radius: 20px;
          -moz-border-radius-topright: 50px;
          -moz-border-radius-bottomleft: 50px;
          border-radius: 20px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 50px;
          -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
        }
  
        .quote-icon {
          position: absolute;
          left: 12%;
          top: -45px;
          background: var(--color-white);
          padding: 25px 23px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          -webkit-box-shadow: 0px 5px 30px 7px rgba(0,0,0,0.1);
          box-shadow: 0px 5px 30px 7px rgba(0,0,0,0.1);
  
          span {
            font-size: 25px;
            color: var(--color-primary);
          }
        }
  
        .rating-icon {
          margin: 30px 0 -5px 30px;
  
          span {
            font-size: 15px;
            color: var(--color-tertiary);
          }
        }
  
        .testimonial-info {
          margin: 7px 0 5px 30px;
  
          h4 {
            font-size: 26px;
            color: var(--color-dark);
          }
  
          span {
            font-size: var(--font-size-b2);
            color: var(--color-extra07);
            text-transform: capitalize;
            display: block;
            line-height: 1;
          }
        }
      }
    }
  }

  .testimonials-two {
    .row>* {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  
    .testimonials-wrapper {
      .testimonial-wrap-one {
        max-width: 100%;
        height: 700px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .testimonial-wrap-two {
        max-width: 100%;
        height: 700px;

        .testimonials-slider {
          background: url(../../assets/images/h2-testimonials-slider-bg.jpg);
          width: 100%;
          height: 100%;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 100px 100px;
          position: relative;

          .testimonials-swiper-nav  {
            span {
              font-size: var(--font-size-b1);
              color: var(--color-dark);
              transition: all .3s ease-in-out;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
        
              &:hover {
                background:-moz-linear-gradient(90deg, rgba(237,49,45,1) 30%, rgba(255,123,0,1) 76%); 
                background: -webkit-linear-gradient(90deg, rgba(237,49,45,1) 30%, rgba(255,123,0,1) 76%); 
                background: linear-gradient(90deg, rgba(237,49,45,1) 30%, rgba(255,123,0,1) 76%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color:transparent;
                box-shadow: none;
              } 
            }
            .swiper_button_next {
              background: var(--color-white);
              padding: 17px 20px;
              cursor: pointer;
              -webkit-border-radius: 10px;
              -webkit-border-top-right-radius: 20px;
              -webkit-border-bottom-left-radius: 20px;
              -moz-border-radius: 10px;
              -moz-border-radius-topright: 20px;
              -moz-border-radius-bottomleft: 20px;
              border-radius: 10px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 20px;
              position: absolute;
              bottom: 17%;
              left: 29%;
              z-index: 1;
            }
            .swiper_button_prev {
              background: var(--color-white);
              padding: 17px 20px;
              cursor: pointer;
              -webkit-border-radius: 10px;
              -webkit-border-top-right-radius: 20px;
              -webkit-border-bottom-left-radius: 20px;
              -moz-border-radius: 10px;
              -moz-border-radius-topright: 20px;
              -moz-border-radius-bottomleft: 20px;
              border-radius: 10px;
              border-top-right-radius: 20px;
              border-bottom-left-radius: 20px;
              position: absolute;
              right: 29%;
              bottom: 17%;
              z-index: 1;
            }
            @media (max-width:850px) {
              display: none !important;
            }
          }
        }
        .teslimonialsTwo-slider {

          .testimonial-slider-content {
            .sub-title {
              font-size: 22px;
              font-weight: var(--p-semi-bold);
              font-family: var(--font-primary);
              color: var(--color-white);
              text-transform: capitalize;
            }
            .heading {
              color: var(--color-white);
              padding: 0 100px;
              margin-bottom: 30px;
            }
            img {
              width: 90px;
              height: 90px;
              display: inline-block;
              margin: 0 auto;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
            .testimonial-para {
              color: var(--color-white);
              padding: 30px 60px;
            }
            .testimonial-info {
              display: inline-block;
              h4 {
                color: var(--color-white);
                font-weight: var(--p-semi-bold);
                margin-bottom: 0;
              }
              span {
                color: var(--color-white);
              }
            }
          }
        }
        
      }
    }
  }
  .testimonials-three {
    background: url(../../assets/images/h3-testimonials-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .item {
      margin: 80px 10px 55px 10px;

      .testimonial-slider-content {
        max-width: 450px;
        margin-top: 60px;
        padding: 75px 24px 40px 35px;
        position: relative;
        color: var(--color-dark);
        background: var(--color-white);
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

        .testimonial-para {
          font-size: 18px;
          color: #252628;
        }
        .testimonial-box {
          display: flex;
          margin-top: 12px;

          .testimonials-img {
            width: 70px;
            height: 70px;
            img {
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
  
        .quote-icon {
          position: absolute;
          left: 9%;
          top: -45px;
          background: var(--color-white);
          padding: 25px 23px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          -webkit-box-shadow: 0px 5px 30px 7px rgba(0,0,0,0.1);
          box-shadow: 0px 5px 30px 7px rgba(0,0,0,0.1);
          span {
            font-size: 25px;
            color: var(--color-primary);
          }
        }
  
        .testimonial-info {
          margin: 3px 0 5px 20px;
  
          h4 {
            font-size: 26px;
            font-weight: var(--p-semi-bold);
            color: var(--color-dark);
            margin-bottom: 5px;
          }
  
          span {
            font-size: var(--font-size-b2);
            font-family: var(--font-secondary);
            color: var(--color-extra07);
            text-transform: capitalize;
            display: block;
            line-height: 1;
          }
        }
      }
    }
    .testimonials-owl-nav  {
      align-items: center;
      justify-content: center;
      gap: 20px;
      span {
        font-size: var(--font-size-b1);
        color: var(--color-dark);
        cursor: pointer;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
  
        &:hover {
          background:-moz-linear-gradient(90deg, rgba(237,49,45,1) 30%, rgba(255,123,0,1) 76%); 
          background: -webkit-linear-gradient(90deg, rgba(237,49,45,1) 30%, rgba(255,123,0,1) 76%); 
          background: linear-gradient(90deg, rgba(237,49,45,1) 30%, rgba(255,123,0,1) 76%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color:transparent;
          box-shadow: none;
        } 
      }
      @media (max-width:850px) {
        display: none !important;
      }
    }
  }
  @media (min-width:1200px) and (max-width:1620px) {
    .testimonials-two {
      height: 600px;
      .testimonials-wrapper {
        .testimonial-wrap-two {
          .testimonials-slider {
            padding: 50px 100px;
            .testimonials-owl-nav {
              .testimonials-next-button {
                left: 24%;
                bottom: 22%;
              }
              .testimonials-prev-button {
                right: 24%;
                bottom: 22%;
              }
            }
          }
          .testimonial-slider-content {
            .heading {
              padding: 0;
            }
            .testimonial-para {
              padding: 30px 0;
            }
          }
        }
      }
    }
  }
  
  @media (max-width:1024px) {
    .testimonials {
      .testimonials-slider {
        
        .testimonial-slider-content {
          max-width: 570px;
          padding: 0 5px;
  
          .testimonial-para {
            padding: 70px 35px 36px 40px;
          }
  
          .rating-icon {
            margin: 20px 0 -5px 40px;
          }
          .testimonial-info {
            margin: 7px 0 30px 40px;
          }
        }
      }
    }
    .testimonials-two {
      .testimonials-wrapper {
        .testimonial-wrap-two {
          .testimonials-slider {
            padding: 100px 100px;
          }
          .testimonial-slider-content {
            
            .testimonial-para {
              padding: 30px 100px;
            }
          }
        }
      }
    }
  }
  @media (max-width:768px) {
    .testimonials {
      
      .testimonials-content {
        padding-top: 30px;
  
        .testimonials-owl-nav {
        //  display: none !important;
          margin-left: 0;
        }
      }
  
      .testimonials-slider {
        padding: 0;
        .item {
          margin-left: 0;
  
          .testimonial-slider-content {
            // margin-top: 100px;
  
            .quote-icon {
              left: 9%;
            }
            .testimonial-para {
              padding: 53px 20px 30px 26px;
            }
            .rating-icon {
              margin: 20px 0 -5px 28px;
            }
            .testimonial-info {
              margin: 7px 0 30px 29px;

              h4 {
                margin-bottom: 0px !important;
              }
            }
          }
        }
      }
    }
    .testimonials-two {
      .testimonials-wrapper {
        .testimonial-wrap-one {
          height: 550px;
        }
        .testimonial-wrap-two {
          height: 550px;
          .testimonials-slider {
            padding: 50px 100px;
          }
          .testimonial-slider-content {
            .sub-title {
              font-size: 16px;
            }
            .heading {
              margin-bottom: 20px;
            }
            .testimonial-para {
              padding: 20px 0px;
            }
          }
        }
      }
    }
  }
  @media (max-width:550px) {
    .testimonials-two {
      .testimonials-wrapper {
        .testimonial-wrap-one {
          height: 400px;
        }
        .testimonial-wrap-two {
          height: 550px;
          .testimonials-slider {
            padding: 50px 50px;
          }
          .testimonial-slider-content {
            .sub-title {
              font-size: 16px;
            }
            .heading {
              margin-bottom: 20px;
              padding: 0;
            }
            .testimonial-para {
              padding: 20px 0px;
            }
          }
        }
      }
    }
  }
  @media (max-width:500px) {
    .testimonials {
      // height: 790px;
      .testimonials-content {
        padding-top: 0px;
  
        .testimonials-swiper-nav {
          display: none !important;
        }
      }
  
      .testimonials-slider {
        .item {
          margin-left: 0px;
        }
        .testimonial-slider-content {
          margin-top: 50px !important;
          padding: 0 20px;
  
          .quote-icon {
            top: -35px;
            left: 45px !important;
            padding: 20px 20px;
  
            span {
              font-size: 18px;
            }
          }
          .testimonial-info {
            h4 {
              font-size: 20px !important;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  
  @media (max-width:320px) {
    .testimonials {
      .testimonials-slider {
        .testimonial-slider-content {
          .testimonial-para {
            font-size: 16px;
            padding: 50px 10px 14px 30px;
          }
          .rating-icon {
            margin: 18px 0 -5px 30px;
          }
        }
      }
    }
  }