.volunteer-two {
    background: rgb(237,49,45);
    background: linear-gradient(0deg, rgba(237,49,45,1) 0%, rgba(247,154,41,1) 90%);
    position: relative;
    width: 100%;
  
    .volunteer-bg {
      background: url(../images/volunter-bg.png);
      width: 100%;
      height: 680px;
      object-fit: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: -100px;
  
      .volunteer-two-content {
        margin-top: 100px;
  
        .vt-title {
          color: var(--color-white);
          padding: 0 330px;
        }
        .vt-para {
          color: var(--color-white);
          padding: 5px 400px;
        }
  
        .vt-btn  {
          display: flex;
          align-items: center;
          justify-content: center;
          .vt-wrap-btn1 {
            color: var(--color-white);
            padding: 16px 45px;
            margin-right: 20px;

            &::after {
              color: #fff !important;
              background: #222328 !important;
            }
  
            &:hover {
              color: var(--color-white);
            }
          }
  
          .vt-wrap-btn2 {
            color: var(--color-dark);
            padding: 16px 45px;
            
            &::after {
              background: var(--color-white);
            }
  
            &:hover {
              color: var(--color-white);
              background: var(--color-dark);
            }
          }
        }
      }
    }
  }
  
  @media (max-width:1024px) {
    .volunteer-two {
  
      .volunteer-bg {
        .volunteer-two-content {
          .vt-title {
            padding: 0 50px;
          }
          .vt-para {
            padding: 6px 150px;
          }
        }
      }
    }
  }

  @media (max-width:768px) {
    .volunteer-two {
      .volunteer-bg {
        height: 610px;
        
        .volunteer-two-content {
          .vt-title {
            padding: 0 150px;
          }
          .vt-para {
            padding: 6px 150px;
          }
        }
      }
    }
  }
  
  @media (max-width:450px) {
    .volunteer-two {
  
      .volunteer-bg {
        .volunteer-two-content {
          .vt-title {
            padding: 0;
            margin-bottom: 0;
          }
  
          .vt-para {
            padding: 0 24px;
            margin-bottom: 0;
          }
          .vt-btn {
            margin-top: 30px;
            .vt-wrap-btn1 {
              margin:20px 0;
            }
            .vt-wrap-btn2 {
              margin-left: 23px;
            }
          }
        }
      }
    }
  }
  @media (min-width:300px) and (max-width:400px) {
    .volunteer-two {
      .volunteer-bg {
        .volunteer-two-content {
          .vt-btn {
            display: block;
            .vt-wrap-btn2 {
              margin-left: 0;
            }
          }
        }
      }
    }
  }