@keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
  }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
    100% {
      transform: rotate(100deg);
      -webkit-transform: rotate(100deg);
      -moz-transform: rotate(100deg);
      -ms-transform: rotate(100deg);
      -o-transform: rotate(100deg);
}
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
    100% {
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
  }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
    100% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
  }

  @keyframes rotating {
    50% {
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

@-webkit-keyframes border-transform {
  0%,
  100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}