// /*-------------------
//  * Button
// ---------------------*/


.edu-btn {
	display: inline-block;
	padding: 15px 45px;
    margin-top: 10px;
	color: var(--color-white) ;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: var(--p-bold);
	font-family: var(--font-secondary);
	position: relative;
	overflow: hidden;
	border: none;
	z-index: 1;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;

    &:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(237,49,45);
		background: linear-gradient(90deg, rgba(237,49,45,1) 0%, rgba(247,154,41,1) 100%);
		border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
		z-index: -2;
	}
	&:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: rgb(237,49,45);
        background: linear-gradient(90deg, rgba(237,49,45,1) 0%, rgba(247,154,41,1) 100%);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        z-index: -1;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
}
	&:hover {
        color: var(--color-white);
		&:before {
			width: 100%;
		}
	}

	&.active {
		color: var(--color-white);
	}
}

@media (max-width:768px) {
	.edu-btn {
		font-size: 15px;
		padding: 12px 30px !important;
		margin-top: 0;
	}
}



